<div id="footer">
    <div id="info">
        <h4>Contact US</h4>
        <p>1000 N 4th St.</p>
        <p>Fairfield, IA - 52557</p>
    </div>
    <div id="links">
        <h4>Categories</h4>
            <p><a href="/">Books </a></p>
            <p><a href="/">CDS</a></p>
            <p><a href="/">Videos</a></p>
            <p><a href="/">Accessories</a></p>
    </div>
    <div id="external">
        <h4>Useful links</h4>
        <p><a href="/contact">Contact Us</a></p>
        <p><a href="http://www.google.edu">MIU!</a></p>
        <p><a href="http://www.amazon.com">Amazon.</a></p>
    </div>
</div>